body {
    background-color: whitesmoke;
    border-style: solid;
    color: black;
}

/*h1 {
    color: black;
}*/

.bg-red {
    background-color: red;
}

/*div {
    background-color: purple;
}*/

.input-small {
    height: 10px;
    size: 15;
    border-radius: 25px;
}