<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>About Us</title>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'djangoapp/w3-theme-deep-purple.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/w3.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>

    <body class="w3-theme-l5 vw-100 border-0">
        
        <!--<div class="row">
            <div class="col bg-dark">
                <header class="text-center">
                    <p style="color: white;">Welcome!</p>
                </header>
            </div>
        </div>-->
       <!--Add a nav bar here -->
        <div class="sticky-top my-purple-grad">
            <!--Row for Header-->
            <div class="row">
                <div class="col-3">
                    <div class="navbar navbar-dark navbar-header">
                        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                    </div>
                </div>

                <div class="col align-self-center mr-5">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="ml-auto">
                            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="ml-auto">
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="input-small border-curve-left" placeholder="Username" name="username" size="8">
                                    <input type="password" class="input-small" placeholder="Password" name="psw" size="8">
                                    <button class="btn btn-primary btn-small" type="submit">Login</button>
                                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--Row for Navigation-->
            <div class="row">
                <div class="col">
                    <ul class="navbar list-unstyled justify-content-center">
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Add a paragraph-->
        <div class="row m-5">
            <div class="col text-center">
                <h1 class="w3-border-bottom p-2">Welcome to Best Cars dealership, home to the best cars in North America.</h1>
                <h2 class="p-2">We sell domestic and imported cars at reasonable prices.</h2>
            </div>
        </div>

        <!--Add relevent information-->
        <!--Add two subtitle blocks-->
        <div class="row m-2">
            <div class="col border-right text-center">
                <h3 class="p-2">OUR MISSION</h3>
                <p>To provide reliable vehicles to families across North America</p>
            </div>

            <div class="col text-center">
                <h3 class="p-2">OUR VISION</h3>
                <p>One dealership in every major city in North America</p>
            </div>
        </div>

        <!--Add Four Stars as a divider-->
        <div class="row text-center mx-3 my-5">
            <div class="col">
                <img src="{% static 'djangoapp/asset_1.png' %}" style="width: 25%;" />
            </div>
            <div class="col">
                <img src="{% static 'djangoapp/asset_1.png' %}" style="width: 25%;" />
            </div>
            <div class="col">
                <img src="{% static 'djangoapp/asset_1.png' %}" style="width: 25%;" />
            </div>
            <div class="col">
                <img src="{% static 'djangoapp/asset_1.png' %}" style="width: 25%;" />
            </div>
        </div>

        <!--About the Owner's Section-->
        <div class="row my-5 mx-3 w3-border-top w3-border-bottom">
            <div class="col align-middle">
                <h3 class="" style="font-size: 40px">Meet Our Founders</h3>
            </div>
        </div>
        <div class="row my-5 mx-3">
            <div class="col card-deck">
                <div class="w3-card w3-theme-l4">
                    <div class="row no-gutters p-2 align-items-center">
                        <div class="col-md-4 text-center pt-3 pb-3">
                            <img class="w-25" src="{% static 'djangoapp/me.jpeg' %}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header text-center">
                                <strong>Samantha Ovark</strong>
                            </div>
                            <div class="card-body">
                                <p class=" text-center">
                                    Samantha Ovark is an exceptionally talented mother of 6
                        who has earned her Masters Degree in Business Management, 
                        with a major in Accounting and Finance, and minor in 
                        Psychology. She started her first business at the age of 16 
                        while attending a local public school. Her drive and ambition is 
                        what led her to opening Best Cars dealership. She aspires to help 
                        her community rise from the ashes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-card"></div>
                <div class="w3-card"></div>
            </div>
        </div>

        <!--Add a Footer-->
        <div class="row position-relative w3-theme-d5 w3-border-theme pb-3">
            <div class="col">
                <footer class="has-footer navbar-dark navbar">
                    <h5 style="color: white;">This is a footer</h5>
                    <ul class="navbar">
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </ul>
                </footer>
            </div>
        </div>

        <!--<div class="row fixed-bottom w3-theme-d5 w3-border-theme pb-3">
            <div class="col text-center" style="height: 25px; color: white;">
                <h5>Car Dealership</h5>
            </div>
        </div>-->

    </body>
</html>
