<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'djangoapp/w3-theme-deep-purple.css' %}">
    <link rel="stylesheet" href="{% static 'djangoapp/w3.css' %}">
    <link rel="stylesheet" href="{% static 'djangoapp/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://kit.fontawesome.com/3cbe8736b9.js" crossorigin="anonymous"></script>
</head>
<body class="w3-theme-l5">
    <script>
        $(function() {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',
            });
        });
        /*$('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });*/
    </script>
    <!--Add a Header here
    <div class="row">
        <div class="col">
            <header class="text-center">
                <p style="color: white;">Welcome!</p>
            </header>
        </div>
    </div>-->
   <!--Add a Header and nav bar here -->
   <!--box-shadow: horizontalOffset verticalOffset blurRadius spreadRadius color-->
    <div class="sticky-top my-purple-grad">
            <!--Row for Header-->
            <div class="row">
                <div class="col-3">
                    <div class="navbar navbar-dark navbar-header">
                        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                    </div>
                </div>

                <div class="col align-self-center">
                    <!--I want to add a dropdown for mobile that will display login/logout/signup and menu-->
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="ml-auto">
                            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="ml-auto">
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="input-small border-curve-left" placeholder="Username" name="username" size="8">
                                    <input type="password" class="input-small" placeholder="Password" name="psw" size="8">
                                    <button class="btn btn-primary btn-small" type="submit">Login</button>
                                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--Row for Navigation-->
            <div class="row">
                <div class="col">
                    <ul class="navbar list-unstyled justify-content-center">
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <!--Add a dealer table here -->
    <div class="row">
        <div class="col min-vh-100">
            <form class="mt-5" action="{% url 'djangoapp:add_vehicle' dealerId %}" method="POST">
                <div class="container w3-card p-2">
                {% csrf_token %}
                <div class="form-group">
                    <h2 class="form-title form-group text-center">Add New Vehicle</h2>
                    <div class="input-group p-2">
                        <label for="content">Enter the review content: </label>
                        <textarea class="form-control ml-1" name="content" id="content" rows="2" placeholder="Type your review here" required></textarea>
                    </div>
                    <div class="input-group p-2">
                        <label for="purchasecheck">Has purchased the car from {{dealer.full_name}}: 
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck"></label>
                    </div>
                    <div class="input-group p-2">
                        <label for="car_make">Select your make:</label>
                        <select name="car_make" id="car_make" class="form-select ml-1" required>
                            {% if Makes %}
                            {% for make in Makes %}
                                <option selected value={{make.id}}>{{make.name}} </option>
                            {% endfor %}
                            {% else %}
                            <option selected value="test">No Cars</option>
                            {% endif %}
                        </select>
                        <a class="btn btn-primary w3-round-large w3-theme-action w3-hover-border-deep-purple w3-hover-shadow ml-1" href="{% url 'djangoapp:add_vehicle' dealerId %}"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <div class="input-group p-2">
                        <label for='purchasedate'>Purchased on: </label>
                        <input class="date-own form-control w-25 ml-1" type="date" name="purchasedate" id="purchasedate">
                    </div>
                    <div class="text-center p-3">
                        <button class="btn btn-primary w3-round-xxlarge w3-theme-action w3-border-hover-deep-purple w3-hover-shadow" type="submit">Add Review</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <!--Add a Footer here-->
    <div class="row position-relative w3-theme-d5 w3-border-theme">
        <div class="col">
            <footer class="has-footer navbar-dark navbar">
                <h5 style="color: white;">This is a footer</h5>
                <ul class="navbar">
                    <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                    <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                    <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </ul>
            </footer>
        </div>
    </div>

    <div class="row fixed-bottom w3-theme-d5 w3-border-theme">
        <div class="col text-center" style="height: 25px; color: white;">
            <h5>Car Dealership</h5>
        </div>
    </div>
    
</body>
</html>