<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'djangoapp/w3-theme-deep-purple.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/w3.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>

    <body class="w3-theme-l5 vw-100">
        
        <!--<div class="row">
            <div class="col ">
                <header class="text-center">
                    <p style="color: white;">Welcome!</p>
                </header>
            </div>
        </div>-->
       <!--Add a nav bar here -->
       <div class="sticky-top my-purple-grad">
        <!--Row for Header-->
        <div class="row ">
            <div class="col-3 ">
                <div class="navbar navbar-dark navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                </div>
            </div>

            <div class="col  align-self-center mr-5">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="ml-auto">
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="ml-auto">
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="input-small border-curve-left" placeholder="Username" name="username" size="8">
                                <input type="password" class="input-small" placeholder="Password" name="psw" size="8">
                                <button class="btn btn-primary btn-small" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--Row for Navigation-->
        <div class="row">
            <div class="col ">
                <ul class="navbar list-unstyled justify-content-center">
                    <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a></li>
                    <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a></li>
                    <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
        </div>
        
       <!--Add a Contact Us paragraph-->
        <div class="row mt-2">
            <div class="col">
                <p class="mt-3 mb-3" style="text-align: center;">
                    We would love to hear from you!<br>
                    Feel free to give us a call, stop on buy, or
                    send us a request for information today!
                </p>
            </div>
        </div>

        <!-- include the address and the telephone number of the company-->
        <div class="row align-items-start mt-5">
            <div class="col-md-6 border-right">
                <!--Contact Us Row-->
                <div class="row">
                    <div class="col-12 col-md-11">
                        <div class="text-center text-md-right">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
                <!--Address Row-->
                <div class="row">
                    <div class="col-6 col-md-9 text-right">
                        <strong>Address: </strong>
                    </div>

                    <div class="col-6 col-md-3 text-left">
                        315 Capitol St<br>
                        Unit 205<br>
                        Houston, Tx 77002<br>
                    </div>
                </div>
                <!--Phone Number-->
                <div class="row">
                    <div class="col-6 col-md-9 text-right">
                        <strong>Phone Number:</strong>
                    </div>

                    <div class="col-6 col-md-3 text-left">
                        123-455-6789
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-2 mb-2 text-center text-md-left">
                <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221664.83570542495!2d-95.64915866718755!3d29.7628028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640bf3743e3a9b7%3A0xd59ca8fed9dbcb98!2sIBM!5e0!3m2!1sen!2sus!4v1664051987410!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
        <!--Add a Contact Us Form-->
        <div class="row mt-5 mb-5">
            <div class="col text-center">
                <form id="request_form" name="request_form">
                    <div class="container card">
                        {% csrf_token %}
                        <h4>Request Info</h3>
                        <p>Fill out the form below and a sales rep will reach out to you as soon as possible</p>
                        <div class="form-group">
                            <label for="#first_name">First Name</label>
                            <input id=first_name type="text" name="first_name"/><br>
                            <label for="last_name">Last Name</label>
                            <input id="last_name" type="text" name="last_name"/><br>
                            <label for="request_message">Message: </label>
                            <input id="request_message" type="text" name="request_message"/><br>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--users should be able to access the Contact Us page from a footer, a button,
            a menu link, or any other element you choose to use-->
        <!--Add a Footer-->
        <div class="row position-relative w3-theme-d5 w3-border-theme pb-3">
            <div class="col ">
                <footer class="has-footer navbar-dark navbar">
                    <h5 style="color: white;">This is a footer</h5>
                    <ul class="navbar">
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </ul>
                </footer>
            </div>
        </div>



        <!--<div class="fixed-bottom">
        <div class="row fixed-bottom w3-theme-d5 w3-border-theme pb-3">
        <div class="col  text-center" style="height: 25px; color: white;">
            <h5>Car Dealership</h5>
        </div>
        </div>-->

    </body>
</html>
