<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    </head>

    <body class="container-fluid">
        
        <div class="row">
            <div class="col bg-dark">
                <header class="text-center">
                    <p style="color: white;">Welcome!</p>
                </header>
            </div>
        </div>
       <!--Add a nav bar here -->
        <div class="row sticky-top">
            <div class="col bg-dark" style="height: 12vh;">
                <nav class="navbar navbar-dark">
                        <div class="navbar-header">
                              <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                        </div>
                    
                        <ul class="navbar">
                             <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                             <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                             <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                         </ul>
                </nav>
            </div>
        </div>
        <!--Add a dealer table here -->

        <div class="row position-relative">
            <div class="col bg-dark">
                <footer class="has-footer navbar-dark navbar">
                    <h5 style="color: white;">This is a footer</h5>
                    <ul class="navbar">
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </ul>
                </footer>
            </div>
        </div>

        <div class="row fixed-bottom">
            <div class="col bg-dark text-center" style="height: 25px; color: white;">
                <h5>Car Dealership</h5>
            </div>
        </div>
    </body>

</html>
