<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Dealerships</title>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'djangoapp/w3-theme-deep-purple.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/w3.css' %}">
        <link rel="stylesheet" href="{% static 'djangoapp/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://kit.fontawesome.com/3cbe8736b9.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script>
            $(function() {
                $('#table').bootstrapTable()
            })
        </script>
    </head>

    <body class="w3-theme-l5 vw-100">
        <!--Add a Header here
        <div class="row">
            <div class="col bg-dark">
                <header class="text-center">
                    <p style="color: white;">Welcome!</p>
                </header>
            </div>
        </div>-->
       <!--Add a Header and nav bar here -->
        <div class="sticky-top my-purple-grad">
                <!--Row for Header-->
                <div class="row">
                    <div class="col-3">
                        <div class="navbar navbar-dark navbar-header">
                            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                        </div>
                    </div>

                    <div class="col-9 align-self-center text-right">
                        <ul class="nav navbar-nav mr-5">
                            {% if user.is_authenticated %}
                            <li class="ml-auto text-right">
                                <!--<a class="btn btn-link" href="{% url 'djangoapp:import_cars' %}">Import Cars</a>-->
                                <a class="btn btn-link" href="#">Welcome, {{ user.first_name }} ({{ user.username }})!</a>
                                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="ml-auto text-right">
                                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="input-small border-curve-left" placeholder="Username" name="username" size="8">
                                        <input type="password" class="input-small" placeholder="Password" name="psw" size="8">
                                        <button class="btn btn-primary btn-small" type="submit">Login</button>
                                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                    </div>
                                </form>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!--Row for Navigation-->
                <div class="row">
                    <div class="col">
                        <ul class="navbar list-unstyled justify-content-center">
                            <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a></li>
                            <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a></li>
                            <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <!--Add a dealer table here -->
        <div class="row">
            <div class="col min-vh-100">
                <!-- Create a Bootstrap table <table>-->
                <!-- For the table head <thead>, add a table row <tr> with
                    the following table header cells
                    <th> represents the dealer attribute names:
                        ID, Dealer Name, City, Address, Zip, State -->
                <table class="table w3-table w-75 ml-auto mr-auto mt-3" id="table" data-filter-control="filter">
                    <thead class="align-text-top">
                        <tr class="">
                            <th class=""data-field="ID" data-filter-control="select">ID</th>
                            <th class=""data-field="Dealer Name" data-filter-control="input">Dealer Name</th>
                            <th class=""data-field="Address" data-filter-control="input">Address</th>
                            <th class=""data-field="City" data-filter-control="select">City</th>
                            <th class=""data-field="State" data-filter-control="select">State</th>
                            <th class=""data-field="Zip" data-filter-control="select">Zip</th>
                        </tr>
                    </thead>
                    <!-- for the table body <tbody>, add a <tr> for each
                        dealer object in dealerships -->
                    <tbody class="">
                        {% for dealer in dealerships %}
                        <tr class="w3-hover-theme">
                            <td class="">{{ dealer.id }}</td>
                            <td class=""><a href="{% url 'djangoapp:dealer_details' dealer.id %}"> {{ dealer.full_name }} </a></td>
                            <td class="">{{ dealer.address }}</td>
                            <td class="">{{ dealer.city }}</td>
                            <td class="">{{ dealer.state }}</td>
                            <td class="">{{ dealer.zip }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--Add a Footer here-->
        <div class="row position-relative w3-theme-d5 w3-border-theme pb-3">
            <div class="col">
                <footer class="has-footer navbar-dark navbar">
                    <h5 style="color: white;">This is a footer</h5>
                    <ul class="navbar">
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </ul>
                </footer>
            </div>
        </div>

        <div class="row fixed-bottom w3-theme-d5 pb-3">
            <div class="col text-center" style="height: 25px; color: white;">
                <h5>Car Dealership</h5>
            </div>
        </div>
        
    </body>
</html>
