<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'djangoapp/w3-theme-deep-purple.css' %}">
    <link rel="stylesheet" href="{% static 'djangoapp/w3.css' %}">
    <link rel="stylesheet" href="{% static 'djangoapp/styles.css' %}"
</head>
    <body class="w3-theme-l5">
        <!--Add a Header here
        <div class="row">
            <div class="col">
                <header class="text-center">
                    <p style="color: white;">Welcome!</p>
                </header>
            </div>
        </div>-->
       <!--Add a Header and nav bar here -->
        <div class="sticky-top my-purple-grad">
            <!--Row for Header-->
            <div class="row">
                <div class="col-3">
                    <div class="navbar navbar-dark navbar-header">
                        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
                    </div>
                </div>

                <div class="col-9 align-self-center">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="ml-auto">
                            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="ml-auto">
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="input-small border-curve-left" placeholder="Username" name="username" size="8">
                                    <input type="password" class="input-small" placeholder="Password" name="psw" size="8">
                                    <button class="btn btn-primary btn-small" type="submit">Login</button>
                                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--Row for Navigation-->
            <div class="row">
                <div class="col">
                    <ul class="navbar list-unstyled justify-content-center">
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a></li>
                        <li class="my-light-shadow"><a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col min-vh-100">
                <!--Add a registration form here -->
                <div style="text-align: center; display: block;">
                <form class="mt-5 ml-5 mr-5 " style="min-width: 75%; display: inline-block;" action="{% url 'djangoapp:registration' %}" method="post">
                    <div class="card text-center">
                        {% csrf_token %}
                        <h1>Sign Up</h1>
                        <div class="form-group">
                            <div class="row">
                                <div class="col text-right">
                                    <label for="first_name">First Name: </label>
                                </div>
                                <div class="col text-left">
                                    <input id="first_name" name="first_name" type="text" placeholder="Enter your first name" /><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label for="last_name">Last Name: </label>
                                </div>
                                <div class="col text-left">
                                    <input id="last_name" name="last_name" type="text" placeholder="Enter your last name" /><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label for="username">Username: </label>
                                </div>
                                <div class="col text-left">
                                    <input id="username" name="username" type="text" placeholder="Enter your username" /><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label for="password">Password: </label>
                                </div>
                                <div class="col text-left">
                                    <input id="password" name="password" type="password" placeholder="Enter your password" /><br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <label for="reenter_password">Re-enter Password: </label>
                                </div>
                                <div class="col text-left">
                                    <input id="reenter_password" name="reenter_password" type="password" placeholder="Enter your password" /><br/>   
                                </div>
                            </div>
                            {% if message %}
                                <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
                                {{ message }}
                                </div>
                            {% endif %}
                            <button class="btn btn-primary" type="submit">Sign up</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!--Add a Footer here-->
        <div class="row position-relative w3-theme-d5 w3-border-theme pb-3">
            <div class="col">
                <footer class="has-footer navbar-dark navbar">
                    <h5 style="color: white;">This is a footer</h5>
                    <ul class="navbar">
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:index' %}">Home</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:about' %}">About</a>
                        <a class="navbar nav-tabs" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </ul>
                </footer>
            </div>
        </div>

        <!--<div class="row fixed-bottom w3-theme-d5 w3-border-theme pb-3">
            <div class="col text-center" style="height: 25px; color: white;">
                <h5>Car Dealership</h5>
            </div>
        </div>-->
    </body>
</html>